/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

.fill {
  width: 100%;
}

.flex-end {
  text-align: end;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
